.story-details-view {
  display: flex;
  flex-direction: column;
  margin: 4%;
  background-color: #f9f7f7;
  padding: 2%;
  border-radius: 20px;
}

.back-button {
  display: flex;
  margin: 10px 0 0 40px;
  border: 2px solid #112d4e;
  background-color: #f9f7f7;
  color: black;
  border-radius: 15px;
  width: 10%;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}

.back-button:hover {
  transform: scale(1.05);
  border-color: #3f72af;
  color: #3f72af;
}

.fav-btn {
  width: 10%;
  background: none;
  border: none;
  margin-bottom: 16px;
}

.fav-icon {
  width: 70px;
}

.details-img {
  width: 50%;
  align-self: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.details-title {
  margin-bottom: 15px;
  font-size: 30px;
}

.details-author {
  margin: 10px;
}

.details-overview {
  margin: 10px;
  font-size: 20px;
  width: 75%;
  align-self: center;
}

.details-link {
  font-size: 20px;
  align-self: center;
  width: 40%;
  padding: 5px;
  color: #3f72af;
}

.details-link:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 650px) {
  .back-button {
    width: 20%;
    margin: 15px auto;
  }

  .story-details-view {
    align-items: center;
  }

  .fav-btn {
    width: 100%;
  }

  .fav-icon {
    margin: auto;
  }

  .details-img {
    width: 70%;
  }

  .details-overview {
    width: 90%;
    align-self: start;
  }

  .details-link {
    width: 80%;
  }
}