.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 65%;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 5px solid #3f72af;
}

.search-input {
  margin: 20px 0 20px 20px;
  width: 35%;
  padding: 10px;
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  .search-form {
    flex-direction: column;
    width: 80%;
  }

  .search-input {
    width: 50%;
  }
}