.nav-box {
  display: flex;
  justify-content: space-between;
  background-color: #dbe2ef;
  padding: 10px 30px;
}

.nav-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.nav-logo {
  width: 100px;
}