.nav-box {
  display: flex;
  justify-content: space-between;
  background-color: #dbe2ef;
  padding: 10px 30px;
}

.nav-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.nav-title {
  font-size: 40px;
}

.nav-overview {
  font-style: italic;
  font-size: 20px;
}

.nav-logo {
  width: 85px;
}

.nav-link-box {
  display: flex;
  flex-direction: column;
}

.nav-link-fav {
  border: 2px solid #112d4e;
  background-color: #f9f7f7;
  margin-top: 5px;
  color: black;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.nav-link-fav:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: #112d4e;
  color: #3f72af;
}